.btn {
  background-color: #2185d0;
  color: white;
  border-radius: 4px;
  padding: 10px 25px;
  text-align: center;
  font-size: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
}

.primary:hover {
  background-color: #075fa3;
  cursor: pointer;
  transition-duration: 1s;
}
.primary:active {
  background-color: #330701;
  color: aqua;
}

.secondary {
  background-color: #090b0c;
}

.secondary:hover {
  background-color: #b0b4b8;
  cursor: pointer;
  transition-duration: 1s;
}

.inverted {
  background-color: white;
  color: rgb(8, 8, 8);
  border: 1px solid black;
}

.inverted:hover {
  color: red;
  border-color: red;
  cursor: pointer;
  transition-duration: 1s;
}
